* {box-sizing: border-box;}
body {
    margin: 0;
}
.main-loyaut {
    background-color: #EEEFF1;
    overflow: hidden;
    padding-top: 250px;
    padding-bottom: 50px;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.main-loyaut-left {
    float: left;
    width: 50%;
}
.main-loyaut-right {
    float: left;
    width: 50%;
}
.main-loyaut-right-title {
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
}
.main-loyaut-right-discription {
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 26px;
    color: gray;
}
.main-loyaut-right-button {
    padding-bottom: 50px;  
}
.loyaut-button {
    background-color: #34547A;
    color: white;
    width: 225px;
    height: 65px;
    outline: none;
}
.about-us {
    padding: 50px 50px;
}
.about-us-title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 50px;
}
.about-us-discription {
   text-align: center;
   margin: 0 auto;
   font-size: 18px;
   width: 500px;
   color: gray;
}